/* PizzaPopup.css */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: 60vh;
  max-width: 70%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.Pizzainfo {
  width: 40%;
}

.flex {
  display: flex;
  gap: 3rem;
}

.popupImage {
  width: 25rem;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.button {
  background-color: #ff6347;
  color: white;
  padding: 1rem 4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  font-weight: 700;
  right: 2rem;
  text-transform: uppercase;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  /* padding: auto 5rem; */
}

.button:hover {
  background-color: #ff4500;
}

.size {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.incredients {
  color: gray;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  margin-top: 0.5rem;
}

.Popparagarph {
  color: gray;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Noto Sans", sans-serif;
  margin-top: 0.5rem;
  /* width: 50%; */
}

.PopprimaryHedaing {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #2b8a3e;
  font-family: "Noto Sans", sans-serif;
  /* font-weight: 700; */
}

.sizes {
  padding: 1rem;
  color: white;
  background-color: #2b8a3e;
  border-radius: 0.9rem;
  font-size: 2rem;
}
.sizes:hover {
  background-color: rgba(43, 138, 62, 0.842);
  border: none;
}
.sizes:not(:first-child) {
  margin-left: 3rem;
}

.rate {
  width: 30%;
}
