*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  /* background-color: bisque; */
}

/* Header */

.header {
  /* height: 10vh; */
  text-align: center;
  position: relative;
  /* background-image: url("/public/asserts/img/hero-3.jpg"); */

  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("/public/asserts/img/hero-3.jpg");

  background-size: cover;
  height: 90vh;
  background-position: top;
}

/* .bg-video {
  height: 80vh;
}

.video{
  height: 100%;
} */

.brandContainer {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.brand {
  width: 10rem;
}

.primaryHeading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

.brandName {
  display: block;
  font-size: 10rem;
  text-transform: uppercase;
}

.slogan {
  display: block;
  letter-spacing: 2rem;
  font-size: 3rem;
}

.TextContainer {
  height: 60vh;
  font-size: 10rem;
  font-weight: 700;
  /* color: #51cf66; */
}

.secondaryHeading_2 {
  color: #2b8a3e;
  display: block;
  position: absolute;
  right: 18rem;
  font-size: 25rem;
  text-transform: uppercase;
}

/* main container */

.mainContainer {
  height: auto;
  /* background-image: url("/public/asserts/img/main.jpg"); */
  background-size: cover;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 8 equal columns */
  grid-template-rows: repeat(4, 1fr); /* 2 equal rows */
  row-gap: 3rem; /* Space between grid items */
  padding: 10rem 20rem;
  margin-bottom: 5rem;
  column-gap: 5rem;
}

.flexContainer {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #51cf66;
  box-shadow: 0rem 1rem 1.5rem rgba(33, 37, 41, 0.3);
  background-color: white;
  transition: all 0.2s;
}

.flexContainer:hover {
  transform: translateY(-5px) scale(1.2);
  box-shadow: 0 rem;
  box-shadow: 0rem 1rem 2rem rgba(33, 37, 41, 0.3);
}

.img {
  width: 25rem;
  border-radius: 1rem;
}

.primaryHedaing {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 400;
  color: #2b8a3e;
}

.paragarph {
  color: gray;
  font-weight: 400;
  font-size: 1rem;
}

.pizzCard-items {
  position: relative;
}

/* button */
.addbutton {
  padding: 1rem 2.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem;
  border: none;
  background-color: #51cf66;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s;
}

.addbutton:active {
  transform: translateY(-3px) scale(0.8);
}

/* .addbutton:hover {
  transform: translateY(-5px) scale(1.9);
} */

/* footer */

.footer {
  height: 10vw;
  background-color: brown;
}

/* popup */

/* PizzaPopup.css */
